# Node modules
node_modules/

# Dependency directories
**/node_modules/
**/bower_components/

# Typescript output directory
dist/

# Next.js build output directory
.next/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# IDE / Editor configuration
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Windows
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
